<launch>

    <!-- 左机械臂 -->
    <group ns="left_arm">

        <node
            pkg="piper"
            type="piper_ctrl_single_node.py"
            name="left_piper"
            output="screen">

            <param name="can_port" value="can0"/>

            <param name="auto_enable" value="true"/>

            <param name="gripper_exist" value="true"/>

            <param name="gripper_val_mutiple" value="1"/>

            <remap
                from="joint_ctrl_single"
                to="/left_arm/joint_states"/>

        </node>

    </group>



    <!-- 右机械臂 -->

    <group ns="right_arm">

        <node
            pkg="piper"
            type="piper_ctrl_single_node.py"
            name="right_piper"
            output="screen">

            <param name="can_port" value="can1"/>

            <param name="auto_enable" value="true"/>

            <param name="gripper_exist" value="true"/>

            <param name="gripper_val_mutiple" value="1"/>

            <remap
                from="joint_ctrl_single"
                to="/right_arm/joint_states"/>

        </node>

    </group>



    <!-- 双臂遥测 -->

    <node
        pkg="dual_piper_control"
        type="dual_teleop.py"
        name="dual_teleop"
        output="screen"/>

</launch>
